@use 'mixin' as mix
@use 'variables' as *
@media screen and ( max-width:768px  )
    .menu-btn
        left: 12.5rem
    .aside
        height: 100%
    .header
        top: -40rem
        background: #000
        z-index: 999
        position: absolute
    .nav-active
        top: 0rem
        transition: all .4s ease-in-out
    .nav-des
        top: -40rem
        transition: all .4s ease-in-out
    .home__container, .aboutMe, .projects, .phrase, .coming
        margin: 0 auto
    .projects
        width: 98%
    .ovni
        top:0
        z-index: 1
    .phrase
        height: auto
        margin-top: 4rem